body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e5e5e5;
}

.main-container {
    width: 1000px;
    height: 1399px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    background: #F5F7FA;
}

.my-content-section {
    padding-left: 100px 90px;
    width: 1200px;
    background-color: #ffffff;
 /*   margin: 40px 40px 40px 0;*/
    display: flex;
    flex-direction: column; 
}

.about-me-section {
    width: 500px;
    margin: 50px 0 0 90px;
}

.about-me {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 20px;
    color: #000000;
}

.about-my-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-my-p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
}

.my-work-section {
    margin: 30px 0 0 60px;
}

.my-education-section {
    margin: 30px 0 0 60px;
  /*   width: 330px;
   height: 110px;*/
}


.my-aside-section {
    background: #1E2939;
    height: 1319px;
    width: 400px;
    padding: 40px 0;
 /*   margin: 40px 0 40px 40px;*/
}

.img-aside {
    width: 320px;
    height: 280px;
    margin: -15px 15px 0 15px;
}

.my-contact-section {
    margin: 50px 0 0 25px;
}
.my-skill-section {
    margin: 30px 0 0 25px;
}
.my-soft-skill-section {
    margin: 30px 0 0 25px;
}
.my-hobbi-section, .my-language-section {
    margin: 30px 0 0 25px;
}


.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 10px;
}
/* Contacts section */
.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 5px;
}

.contacts-section-link {
 /*   color: #565E6A;*/
    color:  #dceb3d;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.prefixes {
    width: 14px;
    color: #fff;
}

.tech-skills-list, .soft-skill-list, .hobbi-list, .language-list{
    padding-left: 17px;
}

.tech-skill-item, .soft-skill-item, .hobbi-item, .language-item {
    color: #FB6D3A;
}
.tech-skill-item-text, .hobbi-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.soft-skill-item-text, .language-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

